{% extends 'base.html' %}
{%block body%}

<html>
    <body>

        <h3 style="color: black;margin: 45px 80px -30px;text-align:justify;">VISION</h3>

        <P style="color: black;margin: 45px 80px -30px;text-align:justify;">To develop into a Centre of Excellence in the field of Engineering & Technology meeting International standards</P>

        <h3 style="color: black;margin: 45px 80px -30px;text-align:justify;">MISSION</h3>

        <P style="color: black;margin: 45px 80px -30px;text-align:justify;">To be a leader provider of Technical Education programmes and related services of the highest quality and standards of excellence to meet the demands of Business, Industry and Community, thereby contributing to India’s socio-economic progress.</P>

        <h3 style="color: black;margin: 45px 80px -30px;text-align:justify;">PO</h3>

        <P style="color: black;margin: 45px 80px -30px;text-align:justify;">PROGRAM OUTCOMES (PO)
            Engineering Graduates will be able to:
            <BR>PO1-Engineering knowledge: Apply the knowledge of mathematics, science, engineering Fundamentals and an engineering specialization to the solution of complex engineering Problems.
            <BR>PO2-Problem analysis: : Identify, formulate, review research literature, and analyze complex Engineering problems reaching substantiated conclusions using first principles of mathematics, Natural sciences and engineering sciences.
            <BR>PO3–Design/development of solutions: Design solutions for complex engineering problems and design system components or processes that meet the specified needs with appropriate consideration for the public health and safety, and the cultural, societal, and environmental considerations.
            <BR>PO4–Conduct investigations of complex problems: Use research-based knowledge and research methods including design of experiments, analysis and interpretation of data, and synthesis of the information to provide valid conclusions
            <BR>PO5–Modern tool usage: Create, select, and apply appropriate techniques, resources, and modern engineering and IT tools including prediction and modeling to complex engineering activities with an understanding of the limitations.
                <BR>PO6–The Engineer and society: Apply reasoning informed by the contextual knowledge to assess societal, health, safety, legal and cultural issues and the consequent responsibilities relevant to the professional engineering practice.
                    <BR>PO7–Environment and sustainability: Understand the impact of the professional engineering solutions in societal and environmental contexts, and demonstrate the knowledge of, and need for sustainable development.
                        <BR>PO7–Environment and sustainability: Understand the impact of the professional engineering solutions in societal and environmental contexts, and demonstrate the knowledge of, and need for sustainable development.
                            <BR>PO8–Ethics: Apply ethical principles and commit to professional ethics and responsibilities and norms of the engineering practice.
                                <BR> PO9–Individual and team work:. Function effectively as an individual, and as a member or leader in diverse teams, and in multidisciplinary settings.
                                    <BR> PO10– Communication: Communicate effectively on complex engineering activities with the engineering community and with society at large, such as, being able to comprehend and write effective reports and design documentation, make effective presentations, and give and receive clear instructions.
                                        <BR>PO11- Project management and finance: Demonstrate knowledge and understanding of the engineering and management principles and apply these to one’s own work, as a member and leader in a team, to manage projects and in multidisciplinary environments.
                                            <BR>PO12- Life -long learning: Recognize the need for, and have the preparation and ability to engage in independent and life-long learning in the broadest context of technological change.</P>
<BR>
    <BR>
            <div class="card-group">
                <div class="card">
                  <img src="https://images.unsplash.com/photo-1607237138185-eedd9c632b0b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVnZSUyMGNhbXB1c3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">NAAC ACCREDIATED</h5>
                    {% comment %} <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> {% endcomment %}
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="https://images.unsplash.com/photo-1562774053-701939374585?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y29sbGVnZXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">NBA ACCREDIATED</h5>
                    {% comment %} <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p> {% endcomment %}
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202206/Best-colleges-commerce-a.jpg?VersionId=li4rgeqFtk6gbD5CNq8wdr3E2J9TVuXj&size=690:388" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">TOP ENGINEERING COLLEGE</h5>
                    {% comment %} <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p> {% endcomment %}
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>


            
    </body>
    </html>



{% endblock %}



