{% extends 'base.html' %}
{%block body%}

    <title>attendance!</title>
  </head>
  <body>
    <h1>ATTENDANCE SHEET</h1>

    <form method="post" style="border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;">

      {% csrf_token %}

      <div class="form-row">



<div class="form-group">
  <label for="inputAddress2">std_name</label>
  <input type="text" class="form-control" id="inputAddress2" name="full_name" placeholder=" ">
</div>
<br>

<div class="form-group">
  <label for="inputAddress2">attendance</label>
  <input type="text" class="form-control" id="inputAddress2" name="attendance" placeholder=" ">
</div>

{% comment %} <div class="form-group">
<label for="cars">Choose subject:</label>
<select id="medicine" name="med">
  {% for i in pr%}
<option value="{{i.med_name}}">{{i.med_name}}</option>
{%endfor%}
</select>
</div>



<div class="form-group">
  <label for="cars">select quantity:</label>
  <select id="quantity" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  </select>
  </div>

{% comment %} <div class="form-group">
  <label for="inputAddress2">quantity</label>
  <input type="text" class="form-control" id="inputAddress2" name="full_name" placeholder=" ">
</div> {% endcomment %}

{% comment %} <div class="form-group">
<label for="inputAddress2">phone</label>
<input type="text" class="form-control" id="inputAddress2" name="phone" placeholder=" ">
</div> {% endcomment %} 
{% comment %} <div class="form-group">
  <label for="inputAddress2">price</label>
  <input type="address" class="form-control" id="inputAddress2" name="price" placeholder=" ">
</div> {% endcomment %}


{% comment %} <div class="form-group">
  <label for="inputAddress2">address</label>
  <input type="address" class="form-control" id="inputAddress2" name="address" placeholder=" ">
</div>
<br><br><br><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">payment by card</label><br>
<input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
<label for="vehicle2"> cash on delivery</label><br> {% endcomment %}

<br>
<button type="submit" class="btn btn-primary">submit</button>
    </form>
    {% endblock %}